[Unit]
Description=ClearScan Telegram Bot
After=network.target

[Service]
Type=simple
User=clearscan
Group=clearscan
WorkingDirectory=/opt/clearscan
ExecStart={{PYTHON3_PATH}} /opt/clearscan/src/telegram_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

#
# Важно! Перед запуском:
# sudo useradd --system --no-create-home --shell /usr/sbin/nologin clearscan
# sudo chown -R clearscan:clearscan /opt/clearscan